
body {
    background: linear-gradient(45deg, #0b0b0b, #450fb1);
    height: 100vh;  
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Montserrat", sans-serif;
  }